    <div>
        <button class="button" [routerLink]="['/create']">Add New Product</button>
        
        <table id="table">
            <tr>
                <th>id</th>
                <th>Id</th>
                <th>Name</th>
                <th>Qty</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
            <tr *ngFor="let product of products">
                <td>{{product.productid}}</td>
                <td>{{product._id}}</td>
                <td>{{product.name}}</td>
                <td>{{product.qty}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button class="button inline" [routerLink]="['/edit/' + product._id]">Edit</button>
                    <button class="button inline" [routerLink]="['/product/' + product._id]">Details</button>
                </td>
            </tr>
        </table>
    </div>  





