<div>
    <table>
        <tr>
            <td><h3>Product Name: </h3></td>
            <td>{{product.name}}</td>
        </tr>
        <tr>
            <td><h3>Product Qty: </h3></td>
            <td>{{product.qty}}</td>
        </tr>
        <tr>
            <td><h3>Product Price:</h3></td>
            <td>{{product.price}}</td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button class="button" [routerLink]="['/display']">Back</button>
                
                    <button id="myBtn" [disabled]="!product.qty==0" class="button" (click)="onDelete(product._id)">Delete</button>
             
            </td>
            
        </tr>
    </table>
    <!-- <span ngStyle="myStyle">Sample Text</span> -->
</div>

